<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTL.Properties.Settings.store_mgmtConnectionString"
            connectionString="Data Source=ONYX;Initial Catalog=store_mgmt;User ID=sa;Password=123qwe123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>